---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Auth Client</title>
	</head>
	<body>
		<h1>Auth Client</h1>
		<hr />
		<form class="hidden" id="register-form">
			<h2>Register form</h2>
			<input type="text" name="name" value="test" />
			<br />
			<input type="text" name="email" value="test22@test.com" />
			<br />
			<input
				type="password"
				autocomplete="new-password"
				name="password"
				value=""
			/>
			<br />
			<button type="submit">Register</button>
		</form>
		<hr />
		<form class="hidden" id="login-form">
			<h2>Login form</h2>
			<input type="text" name="email" value="test22@test.com" />
			<br />
			<input type="password" name="password" value="" />
			<br />
			<button type="submit">Login</button>
		</form>
		<hr />
		<form class="hidden" id="otp-form">
			<h2>OTP form</h2>
			<input type="text" name="verifyEmail" value="test22@test.com" />
			<br />
			<input type="hidden" name="code" />
			<br />
			<button type="submit">Send</button>
		</form>
		<hr />
		<a class="hidden" href="#" id="google-oauth-button">
			<button>Sign in with Google</button>
		</a>
		<hr />
		<button id="whoami-button">Who am I</button>
		<hr />
		<pre id="whoami-result"></pre>
		<hr />
		<button class="hidden" id="get-new-two-factor-auth-button">
			Two factor auth
		</button>
		<hr />
		<div id="two-factor-auth-result"></div>
		<hr />
		<form id="two-factor-verify-form" class="hidden">
			<h2>Two factor verify form</h2>
			<input type="text" name="userProvidedCode" />
			<br />
			<button type="submit">Verify</button>
		</form>
		<hr />
		<form id="two-factor-auth-form" class="hidden">
			<input type="text" name="encodedTOTPKey" />
			<br />
			<input type="text" name="userProvidedCode" />
			<br />
			<button type="submit">Verify</button>
		</form>
		<hr />
		<button class="hidden" id="logout-button">Logout</button>
		<hr />
		<button class="hidden" id="redirect-button">Sign in with Cart5.com</button>
		<div id="redirect-form-container" class="hidden"></div>

		<style>
			.hidden {
				display: none;
			}
		</style>
		<script src="../clientScripts/helper.ts"></script>
	</body>
</html>
